/3 semester/lab 1/allseq.txt
/3 semester/lab 1/homepc.png
/3 semester/lab 1/homepc2.png
/3 semester/lab 1/insulin.fasta
/3 semester/lab 1/insulin.fasta.gz
/3 semester/lab 1/massallseq.txt
/3 semester/lab 1/multiprocecces.txt
/3 semester/lab 1/multitheads.txt
/3 semester/lab 1/seq100.txt
/3 semester/lab 1/seq1000.txt
/3 semester/lab 1/seq10000.txt
/3 semester/lab 1/single.txt
